nextflow.enable.dsl=2

includeConfig 'params.config'

conda {
    enabled = true
    cacheDir = "$HOME/.conda"
}

process {

    // common across processes

    executor = "${System.env.executor}"

    queueSize = 500

    submitRateLimit = '1sec'

    // processes get different resources depending on how computationally demanding they are

    withLabel: short_higher {
        time = { "${params.time_4h} h" }
        memory = { "${params.memory_15G} GB" }
                queue = { "${params.partition_fast_short}" }
        cpus = 1
        errorStrategy = 'ignore'
    }
}

trace {
    enabled = true
    overwrite = true
    file = "trace"
}

dag {
    enabled = true
    overwrite = true
    file = "dag_flowchart.svg"
}
