/*
 * Default resources.
 */

process {
    executor      = 'local'
    cpus          = 1
    memory        = { 2.GB * task.attempt }
    time          = { 2.h * task.attempt }

    errorStrategy = {
        task.exitStatus in [104, 137, 140, 143]
            ? 'retry'
            : 'terminate'
    }

    maxRetries = 1
    maxErrors  = '-1'

    withLabel: 'process_low' {
        cpus   = 1
        memory = { 2.GB * task.attempt }
        time   = { 2.h * task.attempt }
    }

    withLabel: 'process_medium' {
        cpus   = 1
        memory = { 6.GB * task.attempt }
        time   = { 4.h * task.attempt }
    }
}