/*
 * Module-specific publishing configuration.
 */

process {
    withName: 'PREPARE_SCOREFILE' {
        publishDir = [
            path      : "${params.outdir}/pipeline_info",
            mode      : params.publish_dir_mode,
            overwrite : true
        ]
    }

    withName: 'CALCULATE_PRS' {
        publishDir = [
            path      : "${params.outdir}/per_sample",
            mode      : params.publish_dir_mode,
            overwrite : true
        ]
    }

    withName: 'PLOT_PRS' {
        publishDir = [
            path      : "${params.outdir}/plots",
            mode      : params.publish_dir_mode,
            overwrite : true
        ]
    }
    
    withName: 'PLOT_PRS_COHORT' {
        publishDir = [
            path      : "${params.outdir}/plots",
            mode      : params.publish_dir_mode,
            overwrite : true
        ]
    }

    withName: 'MERGE_PRS_REPORTS' {
        publishDir = [
            path      : params.outdir,
            mode      : params.publish_dir_mode,
            overwrite : true
        ]
    }
}
