params {

    // input files

    metadata_table = "/g/strcombio/fsupek_data/users/malvarez/projects/lucia/data/vcf_bam/external/hartwig/hartwig__lung_vs_control_tissues.tsv"
    prs_model = "/g/strcombio/fsupek_data/users/malvarez/projects/lucia/data/prs_models/published_PRS_models/young_etal_2025/MDPI_SuppTableS3_hmPOS_GRCh37.txt"

    // parameter values
    //genome_build = "hg37"

    // time, memory, and partition per process demands

    time_4h = 4    // short
    time_10h = 10 // medium
    time_1d = 24 // long
    time_2d = 48 // very long
    memory_700M = 0.7 // low
    memory_1G = 1 // medium
    memory_5G = 5 // medium high
    memory_10G = 10 // high
    memory_15G = 15 // higher
    memory_50G = 50 // very high
    partition_fast_short = "${System.env.partition_fast_short}"
    partition_slow_long = "${System.env.partition_slow_long}"
    partition_slowest_unlimited = "${System.env.partition_slowest_unlimited}"
}
